In [1]:
s1={2,3,4,5,6,4,6,5,6,7,8,8,9}

In [2]:
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
l1=[1,2,3,4,5,6,3,5,]

In [4]:
set(l1)

{1, 2, 3, 4, 5, 6}

In [15]:
#updating the set
#sets.add() add the value it takes single value
s = {1,2,3,4}
s.add(6,)

In [16]:
print(s)

{1, 2, 3, 4, 6}

In [17]:
#update() it add multiple values

In [18]:
s.update({11,10},[21,22])

In [19]:
print(s)

{1, 2, 3, 4, 6, 10, 11, 21, 22}

In [20]:
# deleting the values

In [23]:
#remove() it removes the values, the value is not in the set it throughs a error

s.remove(4)

In [24]:
print(s)

{1, 2, 3, 6, 10, 11, 21, 22}

In [25]:
#discard() it removes the provided value , the value is not present in set we couldnt get a error
s.discard(7)

In [26]:
print(s)

{1, 2, 3, 6, 10, 11, 21, 22}

In [27]:
#pop() it removes random value and store the value 
s.pop()

1

In [30]:
#clear() it removes the whole values in a set
s.clear()
print(s)

set()

In [31]:
### where to use sets###

In [34]:
#union() print all values both the sets 

a = {1,2,3,4,5,10}
b = {6,7,8,9,2,3}
print("a union b:", a|b)

a union b: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
print("b union a:",b|a)

b union a: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [36]:
#intersection() print the values common in both sets
print(a&b)

{2, 3}

In [37]:
#diffrence() print the values ex; a values not present in b
print(a-b)

{1, 10, 4, 5}

In [38]:
print(b-a)

{8, 9, 6, 7}

In [39]:
#symmetric() it remove common values in both sets
print(a^b)

{1, 4, 5, 6, 7, 8, 9, 10}

In [46]:
d = { 'person detals' : [{'name:ramu','age:25','city:hyderabad'} , {'name:bhem','age:23','city:nalgonda'}]}

SyntaxError: incomplete input (1502005200.py, line 1)